
{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
  {{ form_media.css }}
  <link href="{% static 'h-scroller/css/h-scroller.css' %}" rel="stylesheet" />
{% endblock %}
{% block js %}
  {{ form_media.js }}
{% endblock %}

{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Home</h1>
  </div>
    <h3>
      Recently Added
    </h3>
    {% if most_recent %}
      <div class="h-scroller">
          <div class="h-scroller-carousel">
            {% for m in most_recent %}
              <div class="h-scroller-item">
                {% include 'display_media.html' %}
              </div>
            {% endfor %}
          </div>
          <span class="btn prev">&lt;</span>
          <span class="btn next">&gt;</span>
      </div>
    {% endif %}
    <img class="sidebar-card-illustration mb-2" src="{% static 'theme/img/undraw_rocket.svg' %}" alt="...">
{% endblock %}

{% block end_js %}
  <script src="{% static 'h-scroller/js/h-scroller.js' %}" ></script>
{% endblock %}
