{% extends 'base.html' %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Project: {{ project_name }}</h1>
</div>

<p>Files: {{ file_count }}</p>

<div class="filter-page">
  {% for m in project_files %}
    {% include 'display_media.html' %}
  {% endfor %}
</div>

<hr>
<p>
  <h4>Warning</h4>
  Click the below button to delete all files in this project.
</p>
<p>
  <form action="{{ form_action_delete }}" method="POST">
      {% csrf_token %}
      <table>
        <tr>
          <td><input type="submit" value="Delete" /></td>
        </tr>
      </table>
  </form>
</p>

{% endblock %}
